@using SpaceWeb.Service
@using SpaceWeb.Models.Human
@using SpaceWeb.Localization

@inject UserService userService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/carousel.css?v=2" />
    <link rel="stylesheet" href="~/css/reset.css?v=4" />
    <link rel="stylesheet" href="~/css/icon.css?v=1" />
    <link rel="stylesheet" href="~/css/Rocket/iconsMenu.css">
    <link rel="stylesheet" href="~/css/site.css?v=21" />
    <link rel="stylesheet" href="~/css/Rocket/topStyle.css?v=2" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/carousel-smile.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/butLG.js"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="nice-popup hide">
        <div class="popup-cover"></div>
        <div class="login-block">
            <div class="login-direction">
                <form action="/User/Login" method="post" id="login-or-registration" class="loginformstyle">
                    <div>
                        <input name="@nameof(RegistrationViewModel.Login)"
                               class="inputFields" type="text" 
                               placeholder="@Resource.Layout_Login" />
                    </div>
                    <div>
                        <input name="@nameof(RegistrationViewModel.Password)"
                               class="inputFields" type="password" 
                               placeholder="@Resource.Layout_Password" />
                    </div>
                    <div class="login-but">
                        <input class="pglogbut" type="submit"
                               value="@Resource.Layout_Login" />
                    </div>

                    <div class="or">or</div>
                    <div class="registration-but">
                        <input class="pglogbut" type="submit" 
                               value="@Resource.Layout_Registration" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="socials-popup hide">
        <div class="socials-popup-cover"></div>
        <div class="socials-block telegram">
            <div class="popup-text-telegram-group">
                Для получения доступа к Telegram-каналу группы TMS/.Net07,
                пожалуйста, введите ключ доступа.
            </div>
            <div class="empty-place-telegram"></div>
            <form action="/User/Socials" method="post" class="socials-form-telegram">
                <div>
                    <input type="hidden"
                           name="@nameof(SocialsPasswordViewModel.Link)"
                           value="@nameof(GlobalConst.TELEGRAMGROUPLINK)" />
                </div>
                <div>
                    Ключ доступа:
                </div>
                <div>
                    <input name="@nameof(SocialsPasswordViewModel.Password)" class="socials-passcode-telegram" type="text" placeholder="Passcode" />
                </div>
                <div>
                    <input type="submit" value="Хочу туда!" class="socials-submit-telegram" />
                </div>
            </form>
        </div>
        <div class="socials-block youtube">
            <div class="left-socials-youtube"></div>
            <div class="right-socials-youtube">
                <div class="popup-text-youtube-group">
                    Пересмотреть видео-уроки можно на Youtube-канале. Введите ключ доступа.
                </div>
                <form action="/User/Socials" method="post" class="socials-form-youtube">
                    <div>
                        <input type="hidden"
                               name="@nameof(SocialsPasswordViewModel.Link)"
                               value="@nameof(GlobalConst.YOUTUBETEACHERLINK)" />
                    </div>
                    <div>
                        Ключ доступа:
                    </div>
                    <div>
                        <input name="@nameof(SocialsPasswordViewModel.Password)" class="socials-passcode-youtube" type="text" placeholder="Passcode" />
                    </div>
                    <div>
                        <input type="submit" value="Хочу туда!" class="socials-submit-youtube" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="top no-print">
        <div class="info">
            <a href="/">
                <div class="home">
                    <img class="logo-image" src="../image/bank/logo.png" alt="logo">
                    SpaceWeb
                </div>
            </a>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="user-info">
                    <a href="/User/Profile">
                        @{
                            var user = userService.GetCurrent();
                            var userBlockViewModel = new UserBlockViewModel()
                            {
                                Name = user.Login,
                                AvatarUrl = userService.GetAvatarUrl()
                            };
                        }
                        @Html.Partial("_userBlock", userBlockViewModel)
                    </a>
                    <a href="/User/Logout" class="profile-exit">
                        @Resource.Layout_Exit
                    </a>
                </div>
            }
            else
            {
                <div class="link icon log-in">@Resource.Layout_Login</div>
            }
        </div>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <div class="footer">
        <div class="rights">©All rights reserved</div>
        <div class="developed-by">Developed by TMS .Net07</div>
        <div class="contacts">
            <div class="social-media">
                <img class="footer-icon telegram tmsgroup" src="../image/icon/telegram-color-48px.svg">
                <img class="footer-icon youtube teacher" src="../image/icon/youtube-color-48px.svg">
            </div>
        </div>
    </div>
</body>
</html>