@model ContactsVieModel

@{
    Layout = "_LayoutAccount";
}
<form action="/Client/Contacts" method="post">
    <div>
        email: @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)

        fonenumber: @Html.TextBoxFor(x => x.PhoneNumber)
        @Html.ValidationMessageFor(x => x.PhoneNumber)

        postaddress: @Html.TextBoxFor(x => x.PostAddress)
        @Html.ValidationMessageFor(x => x.PostAddress)

        
    </div>
</form>
