@model UserProfileViewModel

<div>
    <h1>Профиль</h1>
    <div>
        @Model.Name @Model.IdentificationPassport @Model.Profile.Money
    </div>

    <h2>Мои анкеты</h2>
    
        <div>
            @Model.Sex @Model.PostAddress @Model.PhoneNumber
        </div>
    

    <a href="/User/ChangePassword?id=1">Обновить password</a>
</div>
