@using System.Collections.Generic;
@using SpaceWeb.Models.RocketModels;
@model BasketViewModel

@{
    Layout = "_LayoutRocket";
}

@section Style
{
    <link rel="stylesheet" href="~/css/Rocket/basket.css?v=4">
}

@section Script
{
    <script src="~/js/Rocket/basket.js"></script>
}

<div class="bg">
    <div class="bg-block">
        <div class="ani-top">
            <img src="/image/comfortImage/lefttopani.png" style="height: 170px"/>
            <img src="/image/comfortImage/righttopani.png" style="height: 170px"/>
        </div>
        <div class="content-basket">
            <div>
                <div class="title">Basket</div>
                <div class="yorder">Your orders:</div>
                <div style="padding-left: 30px" class="order-rockets">
                    @foreach (var ord in Model.Orders)
                    {
                         <div class="order order-rocket">
                            <div>@ord.Name</div>
                            <div>
                                @foreach (var rock in ord.Rockets)
                                {
                                    <div>
                                        @rock.Name
                                    </div>
                                }
                            </div>
                           @Html.Hidden("Price", ord.Price)
                            <div class="amount-js">@ord.Price</div>
                           <div>
                            @Html.DropDownList("account", Model.BAOptions, new { @class = "dropdown" })
                           </div> 
                        </div>
                    }
                </div>
                <lable class="pointerhover">
                    <button type="submit" class="button-buy" value="Buy">
                        Buy
                        <img src="/image/comfortImage/cat4.png" class="cat" />
                    </button>
                </lable>
            </div>
        </div>
        <div class="ani-end">
            <img src="/image/comfortImage/leftanime.png" style="height: 170px"/>
            <img src="/image/comfortImage/rightanime.png" style="height: 170px"/>
        </div>
    </div>
</div>