@inject UserService UserService

@section Style{
    <link rel="stylesheet" href="~/css/Rocket/RocketShopStyle.css?v=4">
    <link rel="stylesheet" href="~/css/Rocket/checkbox.css?v=2">
}

@section Script
{
    <script src="~/js/chart.min.js"></script>
    <script src="~/js/Rocket/RocketShopChart.js"></script>
    <script src="~/js/Rocket/add-nice-basket.js"></script>
}

@{
    Layout = "_LayoutRocket";
}

@using SpaceWeb.Service
@using SpaceWeb.Models.RocketModels
@model SpaceWeb.Models.RocketModels.ComplexRocketShopViewModel

<div class="vraper">
    <div class="header-shop">
        <p>Shop Rocket</p>
    </div>
    <div class="shop-content">
        <div style="height: 50px"></div>
        <div class="rockets">Rockets</div>
        <div style="height: 50px"></div>
        <form action="/RocketShop/RocketShop" method="post">
            @Html.HiddenFor(x => x.ClientId)
            <div class="items-shop">
                @foreach (var rocket in Model.AddRockets)
                {
                    <label class="rocket">
                        <div class="view">
                            <div class="current-name">@rocket.Name</div>
                            <img src="/image/comfortImage/rocketForShop.jpg">
                        </div>
                        <div class="add">
                            <div class="cost">
                                @rocket.Cost $
                            </div>
                            <label class="control control-checkbox">
                                <input type="checkbox" name="@nameof(ComplexRocketShopViewModel.RocketIds)" value="@rocket.Id">
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </label>
                }
            </div>
            <div class="input-for-shop">
                <a class="btn-shop add-nice">Add nice</a>
                <input type="submit" class="btn-shop" value="Add to basket">
                <a href="Basket" class="btn-shop basket">BASKET
                    (<span class="basket-count">0</span>)
                </a>
            </div>
        </form>
        <div style="height: 100px"></div>
        @if (UserService.IsAdmin())
        {
            <div class="chart-for-order">
                <canvas id="order-chart"></canvas>
            </div>
        }
    </div>
</div>