@inject UserService UserService

@section Style{
    <link rel="stylesheet" href="~/css/Rocket/RocketShopStyle.css">
}

@{
    Layout = "_LayoutRocket";
}

@using SpaceWeb.Service
@using SpaceWeb.Models.RocketModels
@model SpaceWeb.Models.RocketModels.ComplexRocketShopViewModel

<div class="vraper">
    <div class="header">
        <div class="shop">
            <p class="text-header">Shop Rocket</p>
        </div>
    </div>
    <div class="shop-content">
        <div class="shelf">
            <div class="shop-header">
                <p class="text-header">Rockets</p>
            </div>
            <form action="/RocketShop/RocketShop" class="items-shop" method="post">
                @Html.HiddenFor(x => x.ClientId)
                @foreach (var rocket in Model.AddRockets)
                {
                    <label class="rocket">
                        <div class="view">
                            <div class="current-name">@rocket.Name</div>
                            <img src="/image/RocketImages/good-rocket.png">
                        </div>
                        <div class="icon add">
                            <div>
                                @rocket.Cost $
                            </div>
                            <input type="checkbox" name="@nameof(ComplexRocketShopViewModel.RocketIds)" value="@rocket.Id">
                        </div>
                    </label>
                }
                <input type="submit" value="Add to basket">
                <a href="Basket">BASKET</a>
            </form>
            
        </div>
    </div>
</div>