@model ChangePasswordViewModel

<div class="block-update-pswd">
    <div class="title-update-pswd">Обновление пароля</div>
    <form action="/User/ChangePassword" method="post">
        @Html.HiddenFor(x => x.Id)
        <div class="input-update-pswd">
            <div class="name-input-update-pswd">Old password:</div>
            @Html.TextBoxFor(x => x.OldPassword)
            @Html.ValidationMessageFor(x => x.OldPassword)
        </div>

        <div class="input-update-pswd">
            <div class="name-input-update-pswd">NewPassword:</div> 
            @Html.TextBoxFor(x => x.NewPassword)
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>
        <div class="input-update-pswd">
            <div class="name-input-update-pswd">NewPasswordRepeat:</div>
            @Html.TextBoxFor(x => x.NewPasswordRepeat)
            @Html.ValidationMessageFor(x => x.NewPasswordRepeat)
        </div>
        <div class="btn-form-update-pswd">
            <input type="submit" value="Change" class="btn-update-pswd-post" />
        </div>
    </form>
</div>