@model ChangePasswordViewModel
<form action="/User/ChangePassword" method="post">
    @Html.HiddenFor(x => x.Id)
    <div>
        Old password
        : @Html.TextBoxFor(x => x.OldPassword)
        @Html.ValidationMessageFor(x => x.OldPassword)
    </div>

    <div>
        NewPassword: @Html.TextBoxFor(x => x.NewPassword)
        @Html.ValidationMessageFor(x => x.NewPassword)
    </div>
    <div>
        NewPasswordRepeat: @Html.TextBoxFor(x => x.NewPasswordRepeat)
        @Html.ValidationMessageFor(x => x.NewPasswordRepeat)
    </div>
    <div>
        <input type="submit" value="Change" />
    </div>
</form>
