@model RegistrationViewModel
<form action="/User/login" method="post">
    <div>
        Login: @Html.TextBoxFor(x => x.Login)
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div>
        Password: @Html.TextBoxFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
        last name: @Html.TextBoxFor(x => x.Password,
new
 {
     @type = "password",
    @class = "nice-input",
    @placeholder = "Password"
 })
    </div>
    @* <div> *@
    @*     Age: @Html.TextBoxFor(x => x.Age) *@
    @*     @Html.ValidationMessageFor(x => x.Age) *@
    @* </div> *@
    @* <div> *@
    @*     Money: @Html.TextBoxFor(x => x.Money) *@
    @*     @Html.ValidationMessageFor(x => x.Money) *@
    @* *@
    @* </div> *@
    <div>
        <input type="submit" value="send" />
    </div>
</form>
