@model ProfileViewModel

@section Scripts{
    <script src="~/js/profile.js"></script>
}

<div>
    <h1>Профиль</h1>
    <div>
        <img class="avatar" src="@Model.AvatarUrl" />
    </div>
    <div>
        <form action="/User/Profile" method="post" enctype="multipart/form-data">
            <div>
                Новый аватар
                <input type="file" name="@nameof(ProfileUpdateViewModel.Avatar)" />
            </div>
            <div>
                email <input name="@nameof(ProfileUpdateViewModel.Email)" value="@Model.Email" />
            </div>
            <div>
                <input type="submit" value="Обновить аватар" />
            </div>
        </form>
    </div>
    <h2>Мои валюты</h2>
    <div class="currency-block">
        @foreach (var currency in Model.MyCurrencies)
        {
        <label class="@(currency == Model.DefaultCurrency ? "active" : "")">
            <input type="radio" name="currency" 
                   value="@((int)currency)" 
                   checked="@(currency == Model.DefaultCurrency ? "checked" : null)" /> 
            @currency.ToString() 
        </label>
        }
        <input type="button" class="update-currency-btn" value="обновить основную валюту"/>
    </div>

    <h2>Мои счета</h2>
    @foreach (var bankAccountView in Model.MyAccounts)
    {
        <div>
            @bankAccountView.Amount @bankAccountView.Currency
        </div>
    }

    <a href="/User/ChangePassword?id=1">Обновить password</a>
</div>
