@model ProfileViewModel

@section Scripts{
    <script src="~/js/profile.js"></script>
}

<div>
    <h1>Профиль</h1>
    <div>
        <img class="avatar" src="@Model.AvatarUrl" />
    </div>
    <div>
        <form action="/User/Profile" method="post" enctype="multipart/form-data">
            <div>
                Новый аватар
                <input type="file" name="@nameof(ProfileUpdateViewModel.Avatar)" />
            </div>
            <div>
                email 
                <input name="@nameof(ProfileUpdateViewModel.Email)" value="@Model.Email" />
            </div>
            <div>
                <input type="submit" value="Обновить аватар" />
            </div>
        </form>
    </div>
    <h2>Язык</h2>
    <div>
        @Html.DropDownList("CurrentLang", Model.LangOptions)
    </div>
    <h2>Основная валюта</h2>
    <div class="currency-block">
        @foreach (var currency in Model.MyCurrencies)
        {
            <label class="currency-option @(currency == Model.DefaultCurrency ? "active" : "")">
                <input type="radio" name="currency"
                       value="@((int)currency)"
                       checked="@(currency == Model.DefaultCurrency ? "checked" : null)" />
                <span class="text">
                    @currency.ToString()
                </span>
            </label>
        }
    </div>
    

    <h2>Мои счета</h2>
    @foreach (var bankAccountView in Model.MyAccounts)
    {
        <div>
            @bankAccountView.Amount @bankAccountView.Currency
        </div>
    }

    <a href="/User/ChangePassword?id=1">Обновить password</a>
</div>
