@using SpaceWeb.Localization
@using SpaceWeb.Models.Human

@model List<DepartmentViewModel>
@{
    Layout = "_LayoutHuman";
}

<link rel="stylesheet" href="~/css/human/flip-flop.css" asp-append-version="true" />
<script src="~/js/human/flip-flop.js" asp-append-version="true"></script>

<div class="human-all-departments">
    <div class="departments-list">

        <div class="human-department-info">
            <a href="/Human/Graph/" class="link"><h3>All departments:</h3></a>
        </div>

        @foreach (var department in Model)
        {
            <div class="human-department-info">
                @Html.HiddenFor(id => department.Id)
                <div><b>Department name: </b>@department.DepartmentName</div>
                <div><b>Department type: </b>@department.DepartmentSpecificationType</div>
                <div><b>Employes (count/max): </b>@department.Employes.Count/@department.MaximumCountEmployes</div>
                <div><b>Working hours: </b>@department.HourStartWorking - @department.HourEndWorking</div>
                <div>
                    <button onclick="window.location.href='/human/DeleteDepartment?departmentId=@department.Id'" class="btn btn-danger">Delete</button>
                    <button onclick="editDepartment(@department.Id)" class="btn btn-info">Edit</button>
                    <button onclick="getEmployes(@department.Id)" class="btn btn-info">Employes</button>
                </div>
            </div>
        }
        <div style="margin: 20px">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-department">Add department</button>
            <button onclick="window.location.href='/human/DownloadDepartments'" class="btn btn-primary">Save to file</button>
        </div>
        <div class="modal" id="modal-department" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Department</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="partial">
                            <partial name="Department" model="new DepartmentViewModel()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="employes-list">
    </div>
</div>

<script>

    function getEmployes(departmentId) {
        $('.employes-list .human-department-employee').remove();
        var url = `/api/HumanApi/UpdateEmployes?departmentId=${departmentId}`;
        $.getJSON(url)
            .done(function (employes) {
                if (employes.length == 0) {
                    $('.employes-list').append(
                        `<div class="human-department-employee message">No accepted employes!</div>`
                    );
                }
                for (var i = 0; i < employes.length; i++) {
                    $('.employes-list').append(
                        `<div class="human-department-employee flip-flop">` +
                        `<div class="foreground">` +
                        `<div>@Resource.AllDepartments_Name: ${employes[i].name}</div>` +
                        `<div>@Resource.AllDepartments_Surname: ${employes[i].surname}</div>` +
                        `<div>@Resource.AllDepartments_Specification: ${employes[i].position}</div>` +
                        `<div>@Resource.AllDepartments_Salary: ${employes[i].salaryPerHour}</div>` +
                        `</div>` +
                        `<div class="background">` +
                        `<img src=${(employes[i].avatarUrl) ? employes[i].avatarUrl : "/image/avatars/1.jpg"} />` +
                        `</div>` +
                        `</div>`
                    );
                }
                $('.employes-list .human-department-employee').click((e) => flip($(e.currentTarget)));
            });
    }

    function editDepartment(departmentId) {
        $.get('/human/EditDepartment', { departmentId: departmentId })
            .done(function (data) {
                $('#partial').html(data);
                $('#modal-department').modal('show');
            })
            .then(function () {
                $.validator.unobtrusive.parse('form');
            })
            .fail(function () {
                alert('Error action edit department.');
            });
    }

</script>
  