@model BankAccountViewModel

@{
    Layout = "_LayoutBank";
}

@section Scripts{
    <script src="~/js/bank/bankAccountCarousel.js?v=3"></script>
    <script src="~/js/bank/bankAccountIndex.js?v=5"></script>
}

@section Style{
    <link rel="stylesheet" href="~/css/bank/styleAccount.css?v=3" />
}

<body>
    <div class="client-before-content"></div>

    <div class="account-index-central-block">
        <div class="menu left">
            <div class="left-menu-text">СЧЕТА: <span class="total-accounts">@Model.UserAccounts.Count()</span></div>
            @Html.Partial("_bankAccountsList", Model.UserAccounts)
        </div>
        <div class="account-container">

            <div class="account-changer">

                <div class="changer-buttons">
                    <div class="prev-btn button"> Назад </div>
                    <div class="next-btn button"> Вперде </div>
                </div>

                <div class="account-view-window">
                    <div class="account-carousel">
                        @foreach (var bankAccount in Model.UserAccounts)
                        {
                            <div class="account-info-container @bankAccount.AccountIndex">
                                <div class="account-info">
                                    <input class="info id hide" type="hidden" value="@bankAccount.Id" />
                                    <div class="info index hide">@bankAccount.AccountIndex</div>
                                    <div class="info type">@bankAccount.Name</div>
                                    <div class="info">
                                        <span class="amount">@bankAccount.Amount</span>
                                        <span class="currency">@bankAccount.Currency.ToString()</span>
                                        <span class="changing hide"></span>
                                    </div>
                                    <div class="info number">@bankAccount.AccountNumber</div>
                                    <div class="info creation">Создан: @bankAccount.CreationDate.Month/@bankAccount.CreationDate.Year</div>
                                    <div class="info expire">Действителен до: @bankAccount.ExpireDate.Month/@bankAccount.ExpireDate.Year</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="button-list">
                    <input class="active-account index hide" type="hidden" value="@Model.AccountIndex">

                    <input class="active-account id hide" type="hidden" value="@Model.Id">

                    <div class="button deposit show-menu">Пополнить счет</div>

                    <div class="button withdrawal show-menu">Снять со счета</div>

                    <div class="button">Заморозить счет</div>

                    <a href="/Account/DownloadLog?id=@Model.Id">
                        <div class="button">История операций</div>
                    </a>

                    <div class="button transfer show-menu">Перевод со счета</div>
                    
                    <div class="button remove show-menu">Удалить счет</div>
                </div>

                <div class="deposit-form container hide">
                    <div class="head-text">ПОПОЛНЕНИЕ СЧЕТА</div>
                    <form class="deposit form" method="POST">
                        <div>Сумма для пополнения</div>
                        <input class="deposit amount" type="text" autocomplete="off" onpaste="return false;" ondrop="return false;">
                        <p class="buttons">
                            <input class="make deposit button" type="submit" value="Пополнить">
                            <input class="cancel deposit button" type="reset" value="Отмена">
                        </p>
                    </form>
                </div>

                <div class="withdrawal-form container hide">
                    <div class="head-text">СНЯТИЕ СО СЧЕТА</div>
                    <form class="withdrawal form" method="POST">
                        <div>Сумма для снятия</div>
                        <input class="withdrawal amount" type="text" autocomplete="off" onpaste="return false;" ondrop="return false;">
                        <p class="buttons">
                            <input class="make withdrawal button" type="submit" value="Снять">
                            <input class="cancel withdrawal button" type="reset" value="Отмена">
                        </p>
                    </form>
                </div>

                <div class="transfer-form container hide">
                    <div class="head-text">ПЕРЕВОД СО СЧЕТА</div>
                    <form class="transfer form" method="POST">
                        <div>Номер счета получателя</div>
                        <input type="text" autocomplete="off">
                        <div>Сумма перевода</div>
                        <input class="transfer amount" type="text" autocomplete="off" onpaste="return false;" ondrop="return false;">
                        <p class="buttons">
                            <input class="make transfer button" type="submit" value="Перевести">
                            <input class="cancel transfer button" type="reset" value="Отмена">
                        </p>
                    </form>
                </div>

                <div class="remove-form container hide">
                    <div class="head-text">УДАЛЕНИЕ СЧЕТА</div>
                    <form class="remove form" action="/Account/Remove" method="POST">
                        <div>Подтвердите пароль</div>
                        <input class="remove password-confirm" type="password" autocomplete="off" name="password">
                        <input class="account-to-remove hide" type="hidden" value="@Model.Id" name="id">
                        <p class="buttons">
                            <input class="make remove button" type="submit" value="Удалить">
                            <input class="cancel remove button" type="reset" value="Отмена">
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>